%html
  %head
    %link{:rel => 'stylesheet', :href => '/public/styles.css'}
  %body
    #container
      #logo
        %img{:src => '/images/logo.png'}
        .one Entanglement
        .two Entanglement
        .three Entanglement
      #content
        = yield
